/* ===========================================
   HOMEPAGE SPECIFIC STYLES - 首頁專用樣式
   =========================================== */

/* 首頁特定容器設定 */
.container {
  max-width: 1080px;
}

.navbar {
  padding-top: 20px;
}

.top-right {
  margin-right: 20px;
}

/* ===========================================
   首頁介紹區塊
   =========================================== */
.intro {
  text-align: left;
  color: #323A3B;
  padding-top: 20vh;
  height: 72vh;
  width: 90%;
  padding-left: 0;
  padding-right: 0;
}

/* 首頁特定：intro標題顏色與置左對齊 */
.intro h2 {
  color: #323A3B;
  text-align: left;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* 首頁特定：intro說明文字 */
.intro-description {
  color: #323A3B;
  text-align: left;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  margin-top: 0;
}

/* 只保留 .typer2 藍色，span 不再全藍 */
.typer2 {
  color: #5896A3 !important;
}

/* 首頁特定：intro說明文字置左 */
.intro > p {
  text-align: left;
}

/* ===========================================
   作品展示區塊
   =========================================== */
.works {
  margin-top: 0px;
}

.works p {
  font-family: 'Raleway', sans-serif;
}

.projects img {
  width: 100%;
  border-radius: 24px;
  margin-top: 40px;
}

.projects {
  height: auto;
  width: 70%;
  display: block;
  margin-bottom: 50px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 0;
  padding-right: 0;
  text-decoration: none;
  color: #323A3B;
}

.projects a {
  color: #323A3B;
  text-decoration: none;
}

.projects a:hover .image {
  transform: scale(0.96);
  transition: transform 0.3s ease;
}

.projects a:hover .title {
  color: #5896A3;
}

.sc {
  display: block;
  width: 100%;
}

.big {
  display: block;
}

.small {
  display: none;
}

/* ===========================================
   首頁專用響應式設計
   =========================================== */
@media screen and (max-width: 767px) {
  .big {
    display: none;
  }
  
  .small {
    display: block;
  }
  
  .intro {
    padding-top: 10vh;
    width: 88%;
    padding-left: 0;
    padding-right: 0;
  }
  
  .intro h2 {
    font-size: 24px;
  }
  
  .intro-description {
    font-size: 32px;
  }
}

/* ===========================================
   首頁Footer樣式覆蓋
   =========================================== */
.footer {
  padding: 100px 0 30px 0px; /* 首頁需要更多上方空間 */
}

.footer a {
  color: #C9C9C9;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}
