/* Custom Fonts */
@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans.eot');
    src: url('fonts/PT-Sans.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans.woff') format('woff'),
         url('fonts/PT-Sans.ttf') format('truetype'),
         url('fonts/PT-Sans.svg#pt_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans-Bold.eot');
    src: url('fonts/PPT-Sans-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans-Bold.woff') format('woff'),
         url('fonts/PT-Sans-Bold.ttf') format('truetype'),
         url('fonts/PT-Sans-Bold.svg#pt_sansbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans-Italic.eot');
    src: url('fonts/PPT-Sans-Italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans-Italic.woff') format('woff'),
         url('fonts/PT-Sans-Italic.ttf') format('truetype'),
         url('fonts/PT-Sans-Italic.svg#pt_sansitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans-BoldItalic.eot');
    src: url('fonts/PPT-Sans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans-BoldItalic.woff') format('woff'),
         url('fonts/PT-Sans-BoldItalic.ttf') format('truetype'),
         url('fonts/PT-Sans-BoldItalic.svg#pt_sansbold_italic') format('svg');
	font-weight: bold;
	font-style: italic;
}

html {
	min-width: 1120px;
	background-color: #d9c180;
	line-height: 1.7;
}

header{
	height: 10px;
}


body {
	background-color: #d9c180;
	font-family: 'PTSans', Arial, sans-serif;
	font-size: 15px;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}

/* img {
	max-width: 100%;
	height: auto;
} */

a {
	text-decoration: none;
}

/* Main Column Typography */
.main-area h2 {
	font-size: 165%;
	font-weight: normal;
}

.section {
	background-color: #d9c180;
	padding-left: 40px;
	padding-right: 40px;
}

.group{
  background-image: url("../images/circle.png");
  background-repeat: no-repeat;
  background-size: contain;
	float: right;
	margin-right: 5%;
	width: 500px;
  height: 100%;
}

.group2{
  background-image: url("../images/worka.png");
  background-repeat: no-repeat;
  background-size: contain;
	float: right;
	margin-right: 5%;
	width: 500px;
  height: 100%;
	display: none;
}

.group3{
  background-image: url("../images/workb.png");
  background-repeat: no-repeat;
  background-size: contain;
	float: right;
	margin-right: 5%;
	width: 500px;
  height: 100%;
	display: none;
}

.group4{
  background-image: url("../images/workcc.png");
  background-repeat: no-repeat;
  background-size: contain;
	float: right;
	margin-right: 5%;
	width: 500px;
  height: 100%;
	display: none;
}

.group5{
  background-image: url("../images/workd.png");
  background-repeat: no-repeat;
  background-size: contain;
	float: right;
	margin-right: 5%;
	width: 500px;
  height: 100%;
	display: none;
}

.group6{
  background-image: url("../images/worke.png");
  background-repeat: no-repeat;
  background-size: contain;
	float: right;
	margin-right: 5%;
	width: 500px;
  height: 100%;
	display: none;
}

.one{
	cursor: pointer;
  color: #fff;
  text-align: center;
	background-color: #f2d179;
	width: 16%;
	height: 5%;
	margin-top: -2.5%;
	margin-left: auto;
  margin-right: auto;
	border-radius: 100px;
}

.one:hover{
	background-color: #f2d179;
}


.two{
	cursor: pointer;
	color: #fff;
	text-align: center;
	background-color: #fdeab7;
	width: 16%;
	height: 5%;
	margin-top: 20%;
	margin-left: auto;
  margin-right: -1.3%;
	border-radius: 100px;
}

.two:hover{
	background-color: #f2d179;
}

.three{
	cursor: pointer;
	color: #fff;
	text-align: center;
	background-color: #fdeab7;
	width: 16%;
	height: 5%;
	margin-top: 45%;
	margin-left: auto;
  margin-right: -1.3%;
	border-radius: 100px;
}

.three:hover{
	background-color: #f2d179;
}

.four{
	cursor: pointer;
	color: #fff;
	text-align: center;
	background-color: #fdeab7;
	width: 16%;
	height: 5%;
	margin-top: 20%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100px;
}

.four:hover{
	background-color: #f2d179;
}

.five{
	cursor: pointer;
	color: #fff;
	text-align: center;
	background-color: #fdeab7;
	width: 16%;
	height: 5%;
	margin-top: -80%;
	margin-left: -1.3%;
  margin-right: auto;
	border-radius: 100px;
}

.five:hover{
	background-color: #f2d179;
}

.six{
	cursor: pointer;
	color: #fff;
	text-align: center;
	background-color: #fdeab7;
	width: 16%;
	height: 5%;
	margin-top: 45%;
	margin-left: -1.3%;
  margin-right: auto;
	border-radius: 100px;
}

.six:hover{
	background-color: #f2d179;
}

@media screen and (min-width: 1280px) {

	body {
		font-size: 16px;
	}


	.container {
		max-width: 1200px;
	}

}

@media screen and (max-width: 767px) {

	.section {
		padding-left: 20px;
		padding-right: 20px;
	}

}

header {
	padding-top: 20px;
	color: #FFF;
	background-color: #e4c572;
	position: relative;
}

header h1 {
	margin: 0;
	font-weight: normal;
	font-size: 165%;
}

header p {
	font-size: 90%;
	margin: 0;
}

@media screen and (max-width: 1023px) {

}

@media screen and (max-width: 767px) {


}



/* End Site Navigation */


.content-area {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
	margin-bottom: auto;
	background-color: #f9f8f4;
	width: 90%;
	height: 500px;
	padding: 40px 0 ;
	box-shadow:0 0 15px 9px rgba(249,248,244,1);
}

@media screen and (max-width: 767px) {
	.content-area {
		padding-top: 20px;
	}
}

.main-area {
	width: 66%;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
}

.sidebar{
	margin-top: 6%;
	width: 50%;
  float: left;
	text-align: center;
	margin-left: -5%;

}

.sidebar  h2{
	font-size: 36px;
  color: #404040;
	font-family: 'Helvetica';
  letter-spacing: 2px;
}

.sidebar p{
  color: #4d4d4d;
	font-size: 10px;
	margin-bottom: 55px;
	font-family: Helvetica;
	letter-spacing: 1px;
}

.sidebar2  h2{
	font-size: 36px;
  color: #404040;
	font-family: 'Helvetica';
  letter-spacing: 2px;
}

.sidebar2 p{
  color: #4d4d4d;
	font-size: 10px;
	margin-bottom: 20px;
	font-family: Helvetica;
	letter-spacing: 1px;
}

.sidebar3  h2{
	font-size: 36px;
  color: #404040;
	font-family: 'Helvetica';
  letter-spacing: 2px;
}

.sidebar3 p{
  color: #4d4d4d;
	font-size: 10px;
	margin-bottom: 20px;
	font-family: Helvetica;
	letter-spacing: 1px;
}

.sidebar4  h2{
	font-size: 36px;
  color: #404040;
	font-family: 'Helvetica';
  letter-spacing: 2px;
}

.sidebar4 p{
  color: #4d4d4d;
	font-size: 10px;
	margin-bottom: 20px;
	font-family: Helvetica;
	letter-spacing: 1px;
}

.sidebar5  h2{
	font-size: 36px;
  color: #404040;
	font-family: 'Helvetica';
  letter-spacing: 2px;
}

.sidebar5 p{
  color: #4d4d4d;
	font-size: 10px;
	margin-bottom: 20px;
	font-family: Helvetica;
	letter-spacing: 1px;
}

.sidebar6  h2{
	font-size: 36px;
  color: #404040;
	font-family: 'Helvetica';
  letter-spacing: 2px;
}

.sidebar6 p{
  color: #4d4d4d;
	font-size: 10px;
	margin-bottom: 20px;
	font-family: Helvetica;
	letter-spacing: 1px;
}

.sidebar2{
	margin-top: 4%;
	width: 50%;
  float: left;
	text-align: center;
	margin-left: -5%;
	display: none;
}

.sidebar3{
	margin-top: 6%;
	width: 50%;
  float: left;
	text-align: center;
	margin-left: -5%;
	display: none;
}

.sidebar4{
	margin-top: 6%;
	width: 50%;
  float: left;
	text-align: center;
	margin-left: -5%;
	display: none;
}

.sidebar5{
	margin-top: 6%;
	width: 50%;
  float: left;
	text-align: center;
	margin-left: -5%;
	display: none;
}

.sidebar6{
	margin-top: 4%;
	width: 50%;
  float: left;
	text-align: center;
	margin-left: -5%;
	display: none;
}

.work1{
  font-size: 110%;
	color: #fff;
	text-align: center;
	background-color: #78a7ee;
	width: 28%;
	margin-left: 36%;
	margin-top: 10%;
	border-radius: 100px;*/
}

.work1:hover{
	background-color: #1f55a7;
}

.work2{
  font-size: 110%;
	color: #fff;
	text-align: center;
	background-color: #78a7ee;
	width: 28%;
	margin-left: 36%;
	margin-top: 10%;
	border-radius: 100px;*/
}

.work2:hover{
	background-color: #1f55a7;
}

.work3{
  font-size: 110%;
	color: #fff;
	text-align: center;
	background-color: #78a7ee;
	width: 28%;
	margin-left: 36%;
	margin-top: 10%;
	border-radius: 100px;*/
}

.work3:hover{
	background-color: #1f55a7;
}

.work4{
  font-size: 110%;
	color: #fff;
	text-align: center;
	background-color: #78a7ee;
	width: 28%;
	margin-left: 36%;
	margin-top: 10%;
	border-radius: 100px;*/
}

.work4:hover{
	background-color: #1f55a7;
}

.work5{
  font-size: 110%;
	color: #fff;
	text-align: center;
	background-color: #78a7ee;
	width: 28%;
	margin-left: 36%;
	margin-top: 10%;
	border-radius: 100px;*/
}

.work5:hover{
	background-color: #1f55a7;
}

@media screen and (max-width: 767px) {

	.hide-small {
		display: none;
	}

}



@media screen and (max-width: 767px) {
	.box-a {
		margin-bottom: 15px;
	}
}

/* Grid */


@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {


}

@media screen and (min-width: 1280px) {



}

footer {
	text-align: center;
	font-size: 85%;
	color: #FFF;
	padding-bottom: 5px;
	padding-top: 25px;
	clear: both;
}

.row:before,
.row:after,
.group:before,
.group:after {
	content: "";
	display: table;
}

.row:after,
.group:after {
	clear: both;
}

.row,
.group {
	zoom: 1;
}
